


//RESET
@use './components/reset';



//Components

@use './components/header';
@use './components/main';
@use './components/songs';







body{
    font-size:63.5%;
    font-family: 'Franklin Gothic Medium', sans-serif;
}
.grid-2-small{
    display: grid;
    grid-template-columns: 70% 30%;
}