.header {
  position: fixed;
  top: 0;
  width: 100%;
  &__menu {
    background-color: transparent;
    line-height: 3;
  }
  &__icon {
    color: #2b2a2a;
    margin-left: 0.5rem;
    font-size: 1.2rem;
  }
  &__icon-right {
    color: #f07a7a;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    text-align: right;
  }
}
.menu-top {
  position: fixed;
  top: 2.5rem;
  z-index: 10;
  padding: 0.5rem;
  right: 0;
  width: 70%;
  box-sizing: border-box;

  text-align: left;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  &__item {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 2;
  }
  &__link {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.3rem;
  }
}
