.title-interesar {
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 50px;
  text-align: center;
}

.Leisure__container {
  width: 100%;
  padding: 15px;
  .img__leisure {
    width: 250px;
    display: block;
    height: 250px;
    margin: auto;
    border-radius: 5px;
  }
  .leisure__text{
    padding: 5px;
    h3{
        font-size: 1rem;
        font-weight: 500;
        color: #24707c;
        margin: 10px 0px 0px 0px;
        
    }
    h4{
        font-size: 0.9rem;
        font-weight: 500;
        color: black;
        margin: 0px 0px 10px 0px;
        
    }
    a{
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: 500;
        color:  #24707c;
        
        
       
    }
    .leisure__text-link{
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: 500;
        color: #ffffff;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .phone{
        font-size: 0.8rem;
        font-weight: 500;
        color: #000000;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .dresscode{
      font-size: 0.8rem;
        font-weight: 500;
        color:  #24707c;
    }
    
  }
  .reproductormusica{
    width: 100%;
    
    margin-bottom: 60px;
    display: flex;
    
    align-items: center;
    
    
  }
  
}
